<!DOCTYPE html>
<html lang="en">
<head>
    <title>Banner Class Mover</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to Banner Class Mover!</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="/ShowChooseClass" role="button">Let's get started!</a>
            </p>
        </div>
        <footer class="footer">
            <p>Team Blue: Tracey Armstrong, Jaymie Fuller, Kayla Holcomb</p>
        </footer>
    </div>
</body>
</html>